USE [master]
GO
/****** Object:  Database [C:\USERS\FRANÇOIS\DESKTOP\OOP\OOP_PROJECT_GROUP_13\OOP_PROJECT_GROUP13\DATABASE1.MDF]    Script Date: 30/10/2020 18:52:43 ******/
CREATE DATABASE [C:\USERS\FRANÇOIS\DESKTOP\OOP\OOP_PROJECT_GROUP_13\OOP_PROJECT_GROUP13\DATABASE1.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'C:\Users\François\Desktop\OOP\OOP_Project_Group_13\OOP_Project_Group13\Database1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'C:\Users\François\Desktop\OOP\OOP_Project_Group_13\OOP_Project_Group13\Database1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\FRANÇOIS\DESKTOP\OOP\OOP_PROJECT_GROUP_13\OOP_PROJECT_GROUP13\DATABASE1.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\FRANÇOIS\DESKTOP\OOP\OOP_PROJECT_GROUP_13\OOP_PROJECT_GROUP13\DATABASE1.MDF]
GO
USE [C:\USERS\FRANÇOIS\DESKTOP\OOP\OOP_PROJECT_GROUP_13\OOP_PROJECT_GROUP13\DATABASE1.MDF]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/10/2020 18:52:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[password] [varchar](50) NOT NULL,
	[mail] [varchar](50) NULL,
	[profilePicture] [varchar](50) NULL,
	[birthday] [date] NULL,
	[phone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([userID], [name], [firstName], [status], [password], [mail], [profilePicture], [birthday], [phone]) VALUES (23202, N'MARCHESSAUX', N'Francois', N'Admin', N'1234', NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [password]
GO
USE [master]
GO
